resources/templates/step-functions/assets/account-a-x-account.json
{
  "Comment": "Create, run, and delete FIS experiment in controlled Account B",
  "StartAt": "FisCrossAccountCreate",
  "States": {
    "FisCrossAccountCreate": {
      "Type": "Task",
      "Parameters": {
        "Actions": {
          "Wait": {
            "ActionId": "aws:fis:wait",
            "Description": "Wait",
            "Parameters": {
              "duration": "PT2M"
            }
          }
        },
        "ClientToken.$": "States.Format('{}-{}',$$.State.Name,$$.Execution.Name)",
        "Targets": {},
        "Description": "Trivial wait generated by remote account",
        "RoleArn.$": "$InputParameters.FisExperimentExecutionRole",
        "StopConditions": [
          {
            "Source": "none"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:fis:createExperimentTemplate",
      "Credentials": {
        "RoleArn.$": "$.Input.AssumableRoleInAccountB"
      },
      "ResultPath": "$.FisCrossAccountCreate",
      "Next": "FisCrossAccountRun"
    },
    "FisCrossAccountRun": {
      "Type": "Task",
      "Parameters": {
        "ClientToken.$": "States.Format('{}-{}',$$.State.Name,$$.Execution.Name)",
        "ExperimentTemplateId.$": "$.FisCrossAccountCreate.ExperimentTemplate.Id",
        "Tags": {
          "Name.$": "States.Format('EphemeralCrossAccountRun-{}',$$.Execution.StartTime)"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:fis:startExperiment",
      "Credentials": {
        "RoleArn.$": "$.Input.AssumableRoleInAccountB"
      },
      "ResultPath": "$.FisCrossAccountRun",
      "Next": "FisCrossAccountDelete"
    },
    "FisCrossAccountDelete": {
      "Type": "Task",
      "Parameters": {
        "Id.$": "$.FisCrossAccountCreate.ExperimentTemplate.Id"
      },
      "Resource": "arn:aws:states:::aws-sdk:fis:deleteExperimentTemplate",
      "Credentials": {
        "RoleArn.$": "$.Input.AssumableRoleInAccountB"
      },
      "ResultPath": "$.FisCrossAccountDelete",
      "End": true
    }
  }
}